name: Update 42 Stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Update 42 Stats
        uses: remi-dupre/42-stats-action@v1.1
        with:
          ft_api_uid: ${{ secrets.FT_UID }}
          ft_api_secret: ${{ secrets.FT_SECRET }}
          user_id: sunwkim
          # README.md 파일의 어디에 넣을지 지정
          readme_path: README.md
